<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_HOME" value="/home/appLog/advance_warn"/>
    <property name="APP_NAME" value="advance_warn"></property>
    <property name="PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %thread [%logger{30}.%method:%line] - %msg%n"></property>

    <logger name="org.springframework" level="INFO" additivity="true"></logger>
    <logger name="org.hibernate" level="INFO" additivity="true"></logger>

    <!-- 输出到控制台 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${PATTERN}</pattern>
        </layout>
    </appender>

    <!-- 输出到日志文件 -->
    <appender name="appLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${APP_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP_NAME}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${PATTERN}</pattern>
        </layout>
    </appender>

    <!-- 禁用无用的swagger警报 -->
    <logger name="io.swagger.models.parameters.AbstractSerializableParameter" additivity="false"></logger>

    <!-- 开发环境 -->
    <springProfile name="dev, junit">
        <logger name="com.advance_warn.dao" level="DEBUG" additivity="true"></logger>
        <root level="info">
            <appender-ref ref="stdout"/>
        </root>
    </springProfile>

    <!-- 开发环境集成logStash -->
    <springProfile name="dev-log">

        <root level="info">
            <appender-ref ref="logStash"/>
            <appender-ref ref="appLogAppender"/>
        </root>
    </springProfile>

    <!-- 测试环境 -->
    <springProfile name="test">

        <root level="info">
            <appender-ref ref="logStash"/>
            <appender-ref ref="appLogAppender"/>
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prd">
        <logger name="com.advance_warn.dao" level="DEBUG" additivity="false"></logger>

        <root level="info">
            <appender-ref ref="logStash"/>
            <appender-ref ref="appLogAppender"/>
        </root>
    </springProfile>
</configuration>
